/*a {*/
/*  background-color: antiquewhite;*/
/*  padding: 4px;*/
/*  color: black;*/
/*  border-radius: 4px;*/
/*}*/

p {
  margin-left: 15px;
  margin-bottom: 30px;
  margin-top: 20px;
}

a {
  margin-left: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: slateblue;
  text-decoration-color: transparent;
  color: white;
}

a:hover {
  background-color: darkslateblue;
  text-decoration-color: transparent;
  color: white;
}
