<p> {{ text  | summary:50  }} </p>
<a href="#" [routerLink]="['/blog/detail/' + id]">
  Więcej
</a>

<!--<p class="card-text">{{ text | summary:50}</p>-->
<!--<a href="#" class="btn btn-primary" [routerLink]="['/blog/detail/' + id]">-->
<!--  Więcej-->
<!--</a>-->
