<div>
  <blog-item-image [image]="image"></blog-item-image>
  <blog-item-text [text]="text" [id]="id"></blog-item-text>
</div>

<!--<div class="card" style="width: 18rem;">-->
<!--  <blog-item-image [image]="image"></blog-item-image>-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Card title</h5>-->
<!--    <blog-item-text [text]="text" [id]="id"></blog-item-text>-->

<!--  </div>-->
<!--</div>-->
