div {
  border-radius: 15px;
  border-style: dashed;
  border-color: gray;
  border-width: 1px;
  /*width: min-content;*/
  overflow: hidden;
}

img {
  /*border-top-left-radius: 15px;*/
  width: 50%;
  float: left;
}

p {
  padding-left: 15px;
  margin-right: 10px;
  overflow: hidden;
  font-size: 18px;
}
